body {
    min-width: 300px;
    min-height: 650px;
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #b8c6db;
    background-image: linear-gradient(320deg, #b8c6db 0%, #f5f7fa 74%);
}

h1 {
    margin-top: 40px;
    font-size: 60px;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    color: #009FFD;
    text-shadow: 2px 2px 4px #ffffff;
}

h1 span {
    font-style: italic;
    color: #27CFF7;
    font-size: 60px;
}

h2, h3, p {
    text-align: center;
    color: #57656F;
    text-shadow: 2px 2px 4px #ffffff;
}
h2 {
    font-weight: 400;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

.info {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.info-box {

}

.info-box * {
    text-align: center;
}

.icon {
    background-image: linear-gradient(315deg, #27CFF7 0% , #89E0F5 74%);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
}

.far, .fas {
    font-size: 4em;
    padding-top: 45px;
    color: #ffffff;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input {
    font-size: 15px;
    width: 40%;
    height: 35px;
    border-radius: 3px;
    border-bottom: 3px solid #89E0F5;
    padding-left: 15px;
}

button#submit-button {
    width: 10%;
    height: 35px;
    width: 10%;
    height: 42px;
    border-bottom: 3px solid #89E0F5;
    margin-left: 15px;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 15px;
    color: gray;
    background-color: #ffffff;
}

button#submit-button:hover {
    color: #89E0F5;
}

.privacy-policy {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.privacy-policy ul {
    list-style: none;
    display: flex;
}

.privacy-policy a {
    text-decoration: none;
    color: #009FFD;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 13px;
}

.privacy-policy a:hover {
    color: #27CFF7;
}

@-webkit-keyframes pulse {
   0%, 100% {
        -webkit-transform: scale3d(1, 1 ,1);
        transform: scale3d(1, 1 ,1);
    }

    50% {
        -webkit-transform: scale3d(1.08, 1.08, 1.08);
        transform: scale3d(1.08, 1.08, 1.08);
    }
}

@keyframes pulse {
    0%, 100% {
        -webkit-transform: scale3d(1, 1 ,1);
        transform: scale3d(1, 1 ,1);
    }

    50% {
        -webkit-transform: scale3d(1.08, 1.08, 1.08);
        transform: scale3d(1.08, 1.08, 1.08);
    }
}

@media only screen and (max-width: 667px) {
    .info-box {
        width: 125px;
        display: flex;
        justify-content: space-around;
    }
    .icon {
        width: 80px;
        height: 80px;
    }
    .far, .fas {
        font-size: 2em;
        padding-top: 25px;
    }
    h3 {
        font-size: 14px;
    }
    h3:nth-child(3) {
        padding-right: 15px;
    }

    input {
        width: 58%;
    }
    button#submit-button {
        width: 20%
    }
    h2, p {
        padding-left: 20px;
        padding-right: 30px;
    }
    .privacy-policy ul {
        margin-right: 50px;
    }
}

.error-container {
  color: red;
  padding: 15px;
  text-align: center;
}
